@import url('../style/color.css');
@import url('../style/fonts.css');


.main_nav {
    transition: 0.3s;
    /* padding-bottom: 0.8rem !important; */
    /* padding-top: 0.8rem !important; */
}

.main_nav .nav_link a span {
    white-space: nowrap;
}

.main_nav .nav_link a {

    color: var(--secondary);
    font-family: 'inter_medium';
}

.main_nav .nav_link a span:hover .visible1 {
    visibility: visible !important;
}

.main_nav .nav_link a {

    color: var(--secondary);
    font-family: 'inter_medium';
}

.main_nav .main_nav2 .nav_link a {

    color: var(--secondary);
    padding-inline: 1.9rem !important;
    font-family: 'inter_medium';
}

.main_nav .bell .dropdown-toggle::after {
    content: none !important;
}

.main_nav .navbar-nav .dropdown-menu {
    position: absolute !important;
}

.bell_notify {
    position: absolute;
    top: -5px;
    color: white;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -5px;
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.bell_notify2 {
    position: absolute;
    top: 0px;
    color: white;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.main_nav .nav_link a span {
    color: var(--secondary);
    font-family: 'inter_medium';
}

.main_nav .nav_link .active span {
    color: var(--primary);
    font-family: 'inter_semibold';
}

.profile {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.profileData .dropdown-toggle::after {
    content: none !important;
}

.language .dropdown-toggle::after {
    content: "" !important;
}

.main_nav .visible1 {
    visibility: hidden;
}

.main_nav .active .visible1 {
    visibility: visible;
}

.main_nav .offcanvas-header .btn-close {
    margin-left: auto;
}

.main_nav .btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: 1;
}

.offcanvas.offcanvas-top {
    height: fit-content;
}

.main_nav .register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 10rem;
    padding: 0.5rem 1.1rem;
}

.main_nav .loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.main_nav .border1 {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 6fr;
    column-gap: 0.1rem;
}

.main_nav .border1>span {
    background-color: var(--primary);
    border-radius: 10rem;
    height: 2px;
}

.main_nav .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-image: none;
}

.main_nav .navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    transition: all .5s ease !important;
}

.drop {
    padding-inline: 1.35rem;
}

.drop_menu:hover {
    background-color: #f6f6f6;
}

.dropdown-toggle::after {
    margin-left: .455em;
    vertical-align: .155em;
}

.language .form-select:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.language .dropdown-toggle::after {
    margin-left: 1.455em;
    vertical-align: .155em;
}

.nav_shadow {
    /*  */
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
    position: sticky !important;
    background-color: var(--white) !important;
}

.main_nav .dropdown-menu.show {
    display: flex !important;
    flex-direction: column;
    flex-wrap: nowrap;
    width: max-content;
}

.main_nav .nav-link {
    padding: 0;
}

@media (min-width:992px) {
    .order_1 {
        order: 1;
    }

    .order_2 {
        order: 2;
    }

    .order_3 {
        order: 3;
    }
}